.red {
    color: #f00;
}

.font-size11    
{
	font-size: 10px;	
}

.select2-container--default .select2-selection--single {
    border: 1px solid #dee2e6 !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
   color: #fff;
}


.auth-fluid .auth-fluid-form-box {
    max-width: 350px !important;
}

.auth-brand .logo-dark img {
    width: 70% !important;
}

.auth-brand .logo-dark {
    display: block;
    text-align: center;
}

.navbar-custom, .nav-user {
    background-color: #fff;
    border-color: #fff;
}

#search-form .col-md-3 {
    width: 22%;
}

#search-form .col-md-2 {
    width: 11.666667%;
}

#largeModal .modal-body {
    background-image: url('/assets/frontend/images/body_bg.png');
    background-position: right;
    background-size: cover;
    background-repeat: repeat;
    padding: 24px;
}

#largeModal .card-header {
    padding: 16px 24px 0px;
}

#largeModal .card.col-md-12 {
    height: 11em;
    margin-bottom: 0px;
}

.customer_installment_modal .card {
    height: 17em;
}


.buttonclass1 button,
.buttonclass1 a {
    padding: 8px 18px 9px 18px;
    color: #000 !important;
    text-decoration: none;
    font-weight: 600;
    border: 0px solid;
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.3s all;
    background: transparent;
}

.buttonclass {
    background: #E3C2AB;
    padding: 7px 0px 10px 0px;
    display: inline-block;
    transition: 0.5s all;
    border: 1px solid transparent;
    border-radius: 10px;
}

.buttonclass:hover {
    background-color: #cd9f72b8;
    transition: 0.5s all;
    border: 1px solid #000;
}

.buttonclass1 {
    background: #E3C2AB;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    transition: 0.5s all;
    border-radius: 10px;
    border: 1px solid transparent;
}

.buttonclass1:hover {
    background-color: #cd9f72b8;
    transition: 0.5s all;
    border: 1px solid #000;
}

/* .buttonclass a:hover {
    position: relative;
    top: 1px;
    left: 0;
    transition: 0.3s all;
    border: 1px solid #e3c2ab;
} */

/* .buttonclass1 button:hover, .buttonclass1 a:hover {
    position: relative;
    top: 1px;
    left: 0;
    transition: 0.3s all;
    border: 1px solid #e3c2ab;
} */

.buttonclass i {
    font-size: 24px;
    position: relative;
    top: 4px;
}


.buttonclass1 i {
    font-size: 24px;
    position: relative;
    top: 4px;
}
